<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Videos Recientes</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slidesOpts">
    <ion-slide *ngFor="let video of videosList">
      <ion-card>
        <img [src]="video.default_thumb.src | imagen">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <a onclick="setUtmSource(event, this)" href="http://www.pornhub.com?utm_source=domain&utm_medium=banner-paid&utm_campaign=hubtraffic_eddcv89" id="rt_aff_banner_515" border="0" target="_blank"><img alt="Free porn videos" border="0" src="https://www.hubtraffic.com/_affiliate/banners/1543860045.png"/></a>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Videos más vistos</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slidesOpts">
    <ion-slide *ngFor="let video of videosList">
      <ion-card (click)="verDetalleVideo(video.id)">
        <img [src]="video.default_thumb.src | imagen">
      </ion-card>
    </ion-slide>
    <ion-slide class="slide-mas">
      <ion-button expand="full"
                  class="btn-mas"
                  (click)="cargaMas()"
                  size="large"
                  >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-slide>
  </ion-slides>

  <a onclick="setUtmSource(event, this)" href="http://www.pornhub.com?utm_source=domain&utm_medium=banner-paid&utm_campaign=hubtraffic_eddcv89" 
  id="rt_aff_banner_514" border="0" target="_blank"><img alt="Free porn videos" border="0" src="https://www.hubtraffic.com/_affiliate/banners/1543860030.png"/></a>
</ion-content>
