<ion-content>
    <iframe width="100%" height="320" [src]="videot.embed | safe" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <p>{{videot.title}}</p>
    <ion-col>
        <ion-item>
            <ion-icon slot="start" name="thumbs-up" color="primary"></ion-icon>
            <ion-label>Rating</ion-label>
            <ion-note>{{videot.rate}}</ion-note>
        </ion-item>

        <ion-item>
            <ion-icon slot="start" name="eye" color="primary"></ion-icon>
            <ion-label>Views</ion-label>
            <ion-note>{{videot.views}}</ion-note>
        </ion-item>
    </ion-col>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons>
            <ion-button (click)="regresar()">
                <ion-icon slot="start" name="arrow-round-back"></ion-icon>
                <ion-label>Regresar</ion-label>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>